<NODE name="Settings">
    <ACQUISITION_SETTINGS name="acquisition_settings">
        <NUMERIC value="10" name="sample_rate"/>
        <NUMERIC value="10" name="points_per_shot"/>
        <CHECK name="homemade_amplifier" checked="0"/>
        <COMBO case_list="list[]" selectedIndex="0" name="pga_gain"/>
        <COMBO case_list="list[]" selectedIndex="0" name="filter_gain"/>
        <COMBO case_list="list[]" selectedIndex="0" name="filter_cutoff"/>
    </ACQUISITION_SETTINGS>
    <NODE name="input_settings">
        <IN_CHANNEL name="ch1">
            <CHECK name="enabled" checked="0"/>
            <COMBO case_list="list[One,Two,Three]" selectedIndex="1" name="range"/>
            <COMBO case_list="list[Unipolar,Bipolar]" selectedIndex="0" name="polarity"/>
            <COMBO case_list="list[Vds,Vlg,Vbg]" selectedIndex="0" name="function"/>
        </IN_CHANNEL>
        <IN_CHANNEL name="ch2">
            <CHECK name="enabled" checked="0"/>
            <COMBO case_list="list[One,Two,Three]" selectedIndex="0" name="range"/>
            <COMBO case_list="list[Unipolar,Bipolar]" selectedIndex="1" name="polarity"/>
            <COMBO case_list="list[Vds,Vlg,Vbg]" selectedIndex="0" name="function"/>
        </IN_CHANNEL>
        <IN_CHANNEL name="ch3">
            <CHECK name="enabled" checked="0"/>
            <COMBO case_list="list[One,Two,Three]" selectedIndex="0" name="range"/>
            <COMBO case_list="list[Unipolar,Bipolar]" selectedIndex="0" name="polarity"/>
            <COMBO case_list="list[Vds,Vlg,Vbg]" selectedIndex="0" name="function"/>
        </IN_CHANNEL>
        <IN_CHANNEL name="ch4">
            <CHECK name="enabled" checked="1"/>
            <COMBO case_list="list[One,Two,Three]" selectedIndex="0" name="range"/>
            <COMBO case_list="list[Unipolar,Bipolar]" selectedIndex="0" name="polarity"/>
            <COMBO case_list="list[Vds,Vlg,Vbg]" selectedIndex="0" name="function"/>
        </IN_CHANNEL>
    </NODE>
    <NODE name="out_settings">
        <OUT_CHANNEL name="och1">
            <CHECK name="enabled" checked="0"/>
            <COMBO case_list="list[]" selectedIndex="0" name="range"/>
            <COMBO case_list="list[]" selectedIndex="0" name="polarity"/>
            <COMBO case_list="list[]" selectedIndex="0" name="out_pin"/>
            <COMBO case_list="list[]" selectedIndex="0" name="function"/>
        </OUT_CHANNEL>
        <OUT_CHANNEL name="och2">
            <CHECK name="enabled" checked="0"/>
            <COMBO case_list="list[]" selectedIndex="0" name="range"/>
            <COMBO case_list="list[]" selectedIndex="0" name="polarity"/>
            <COMBO case_list="list[]" selectedIndex="0" name="out_pin"/>
            <COMBO case_list="list[]" selectedIndex="0" name="function"/>
        </OUT_CHANNEL>
    </NODE>
</NODE>
