<NODE name="Settings">
    <ACQUISITION_SETTINGS pga_amplifier="x100" amplifier="2" homemade_amplifier="1" filter_gain="x10" name="acquisition_settings" filter_cutoff="f70" sample_rate="500000"/>
    <NODE name="input_settings">
        <IN_CHANNEL selected_range="Two" name="ch1" enabled="1" selected_function="f2" selected_polarity=""/>
        <IN_CHANNEL selected_range="Two" name="ch2" enabled="1" selected_function="f3" selected_polarity="Bipolar"/>
        <IN_CHANNEL selected_range="One" name="ch3" enabled="1" selected_function="f1" selected_polarity=""/>
        <IN_CHANNEL selected_range="" name="ch4" enabled="1" selected_function="f2" selected_polarity="Unipolar"/>
    </NODE>
    <NODE name="out_settings">
        <OUT_CHANNEL selected_output="" selected_range="" name="och1" enabled="1" selected_function="" selected_polarity=""/>
        <OUT_CHANNEL selected_output="" selected_range="" name="och2" enabled="1" selected_function="" selected_polarity=""/>
    </NODE>
</NODE>
